p {
  font-family: Roboto, Arial;
  margin: 0 0;
}

.search-bar {
  display: block;
}

.video-preview {
  display: inline-block;
  width: 300px;
  vertical-align: top;
  margin-right: 15px;
}
.thumbnail-row {
  margin-bottom: 12px;
}
.thumbnail {
  display:block;
  width: 300px;
}

.channel-pfp {
  display: inline-block;
  width: 50px;
  vertical-align: top;
}
.pfp {
  width: 80%;
  border-radius: 25px;
}

.video-info {
  display: inline-block;
  width: 240px;
}
.video-title {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 12px;
  line-height: 20px;
}
.video-author,
.video-stats {
  font-size:12px;
  color: rgb(128, 128, 128);
}
.video-author {
  margin-bottom: 4px;
}